<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Student</title>
</head>
<body>
    <form method="POST" action="/students/<%= student.id %>">
        <input type="hidden" name="_method" value="PUT">
        <input name="name" value="<%= student.name %>">
        <input name="email" value="<%= student.email %>">
        <input type="submit" value="Edit Student">
    </form>
</body>
</html>