<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Student Tracker</title>
</head>
<body>
    <h1> Welcome to Student Tracker - Alpha </h1>


    <ul>
        <% students.each do |student| %>
            <li> <a href="/students/<%= student.id %>"> <%= student.name %> </a> </li>
        <% end %>
    </ul>

    <form method="POST" action="/students">
        <input type="text" name="name" placeholder="Johnny Appleseed" />
        <input type="text" name="email" placeholder="ja@test.com" />
        <input type="submit" value="Create Student" />
    </form>
</body>
</html>